@import 'reset';
@import 'typography';

$primary-color:red
;
$body-font: "Jost";
$body-size: 24px;

@mixin drop-shadow() {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@mixin mq($width) {
    @media (max-width: $width) {
        @content;
    }
}

@mixin vertically-middle () {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

body {
    background-color:
$primary-color
;
    color: #ffffff;
    font-family: $body-font;
    line-height: 1.5;
    font-size: $body-size;
    min-height: 100vh;
    @include vertically-middle();

}

section {
    background-color: $primary-color;
    color: #ffffff;
    width: 500px;
   

    p{
        margin: 24px 0 0 0;
        @include mq(600px) {
       width: 350px;
       font-size: 16px;
        }
    }
}